/* base */
@import './base/reset.css';
@import './base/variables.css';

/* 3rd-party */

/* components */
@import './components/form.css';
@import './components/todo.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */
body {
    display: flex;
    justify-content: center;
    padding: 20px;
}